<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="div">
                <a href="#">Home</a>&nbsp;&nbsp;
                <a href="#">Recipies</a>&nbsp;&nbsp;
                <a href="#">Blogs</a>&nbsp;&nbsp;
                <a href="#">About</a>&nbsp;&nbsp;
                <a href="#">ContactUs</a>&nbsp;&nbsp;
            </div><br><br>
            <div>
                <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NEWSLETTER:
                </h5>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Enter your email">
                    <span class="input-group-btn">
                        <button class="btn" type="submit">Subscribe Now</button>
                    </span>
                </div>
            </div>



        </div>
        <div class="col-md-3"></div>

    </div>


</div>