<div class="container-fluid">
    <h1 class="h1">Our Blogs</h1><br><br><br>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="assets/burger.jpeg" class="img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BURGER</h5>
                    <p class="card-text">A burger is a sandwich consisting of one or more
                        cooked patties of ground meat, vegies, placed inside a sliced bread roll or bun. The patty
                        may be pan fried, grilled, smoked or flame broiled. Burgers are often served with cheese,
                        tomato, onion serve with ketchup,</p>
                    <p>{{msg}}</p>
                    <button (click)="clickMessage()">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="img" src="assets/pizza.jpeg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">PIZZA</h5>
                    <p class="card-text">Pizza is a savory dish of Italian origin consisting of a usually round,
                        flattened base of leavened wheat-based dough topped with
                        tomatoes, cheese, and often various other ingredients (such as anchovies, mushrooms, onions,
                        olives, pineapple, meat, etc.)</p>
                    <p>{{msg1}}</p>
                    <button (click)="clickEvent()">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="img" src="assets/biryani.jpeg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BIRYANI</h5>
                    <p class="card-text">Biryani is a mixed rice dish originating among the Muslims of
                        the Indian subcontinent.It is made with Indian spices, rice, and meat and sometimes, in
                        addition, eggs or vegetables such as potatoes
                        in certain regional <br>varieties.</p>
                    <p>{{msg2}}</p>
                    <button (click)="clickMsg()">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="img" src="assets/bbqchicken.jpeg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BBQ CHICKEN</h5>
                    <p class="card-text">Marination is the process of soaking foods in a seasoned, often acidic, liquid
                        before cooking. The origin of the word alludes to the use of brine in the pickling process,
                        which led to the technique of adding flavor by immersion in
                        liquid.</p>
                    <p>{{msg3}}</p>
                    <button (click)="clickMore()">Read More</button>
                </div>
            </div>
        </div>

    </div>
</div><br><br>